h4 {
	font-family: 'DotGothic16', sans-serif;
	font-size: 20px;
}

h2 {
  font-family: 'DotGothic16', sans-serif;
  font-size: 40px;
}

h3 {
  font-family: 'DotGothic16', sans-serif;
  font-size: 30px;
}

#heatmode {
  margin-top: 18px;
}